.auth-container{
    background-image: url('../src/assets/images/auth.png');
    background-size: cover;
    background-position: center center;
}
.bg-overlay{
    background: linear-gradient( 445deg,rgba(47, 140, 96, 0.6) , rgba(0, 0, 0, 0.99));
}